<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCC">
        <activity
            android:name=".EstudioInfosActivity"
            android:parentActivityName="com.example.tcc.EstudioDetalheActivity" />
        <activity
            android:name=".CadastroSalaActivity"
            android:parentActivityName="com.example.tcc.LoginActivity"
             />
        <activity
            android:name=".EstudioActivity"
            android:parentActivityName="com.example.tcc.LoginActivity"
             />
        <activity
            android:name=".MusicoActivity"
             />
        <activity
            android:name=".CadastroMusicoActivity"
            android:parentActivityName="com.example.tcc.LoginActivity"
             />
        <activity
            android:name=".CadastroEstudioActivity"
            android:parentActivityName="com.example.tcc.LoginActivity"
             />
        <activity
            android:name=".EstudioDetalheActivity"
            android:parentActivityName="com.example.tcc.EstudioActivity"
             />
        <activity
            android:name=".LoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
             />
    </application>

</manifest>